/* CSS untuk mendesain kontainer dan tata letak */
        body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
        }

        .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: auto
        max-height: 50px;
        }
        .sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1231px;
        height: 40px;
        background-color: #90ee90;
        position: absolute;
        transition: 0.5s;
        }
        .judul-center{
        display: flex;
        flex-direction:row;
        align-items: center;
        }
        .navigation {
            justify-content: center:
            align-items: center;
            text-align: center;
            padding: 15px 30px;
            font-size: 16px;
            display: block;
            transition: 0.3s;
        }
        .navigation a{
        color: black;
        border-radius: 5px;
        padding: 5px 5px;
        font-weight: bold;
        }
        .navigation a:hover{
        color: yellow;
        width: 40px;
        height: 40px;
        background-color: black;
        }
        .profile-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 120px;
                background-color: #fff;
                border-radius: 50%;
                margin: 0 auto 20px; /* Mengatur margin untuk pusat */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .profile-icon i {
                color: black; /* Sesuaikan dengan warna latar belakang Anda */
            }
        h1{
            color: white;
        }
        h2{
        color: black;
        }
        h3 {
        margin: 0;
        }
        h4{
            text-align: left;
            margin: 0;
            font-weight:;
        }
         h5{
         font-family: Arial, sans-serif;
         text-align: center;
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 0px;
          font-weight: bold;
          color: white;
          }

       .sidenav {
                 height: 100%;
                 width: 0;
                 position: fixed;
                 z-index: 1;
                 top: 0;
                 left: 0;
                 background-color: #111;
                 overflow-x: hidden;
                 transition: 0.5s;
                 padding-top: 60px;
             }

             .sidenav a {
              padding: 8px 8px 8px 32px;
               text-decoration: none;
               font-size: 16px;
               color: white;
               display: block;
               transition: 0.3s;
             }
             .sidenav a:hover {
                          background-color: #ddd;
                          color: black;
                          }

             #main {
                 transition: margin-left .5s;
                 padding: 16px;
             }

             .menu-icon {
                 cursor: pointer;
                 font-size: 24px;
                 color: #fff;
                 position: absolute;
                 top: 2 0px;
                 left: 10px;
                 z-index: 2;
                 padding: 300px 0px;
             }

             .menu-icon i {
                 transition: 0.3s;
             }
             .sidenav a img {
                         width: 100px; /* Sesuaikan ukuran gambar */
                         height: 100px;
                         margin-right: 8px; /* Sesuaikan margin gambar */
                         vertical-align: middle;
                     }
 /* Container Horizontal */
 .container-horizontal {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-top: 90px;
     max-width: auto;
     max-height: auto;
     border-radius:5px;
 }

 /* Box1 di Container Horizontal */
 .container-horizontal .box1 {
     flex: 1;
     background-color: #90ee90; /* Warna latar belakang untuk Box1 pada Container Horizontal */
     padding: 20px;
     height: 500px;
     max-width: 500px; /* Ukuran maksimal lebar untuk Box1 pada Container Horizontal */
     border-radius: 5px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
     overflow-y: auto; /* Mengaktifkan scroll jika konten lebih tinggi dari maksimum */

 }

 /* Container Vertikal */
 .container-vertikal {
     display: column;
     justify-content: center;
     align-items: center;
 }

 /* Box1 di Container Vertikal */
 .container-vertikal .box2 {
     flex: 1;
     background-color: #ffffff; /* Warna latar belakang untuk Box1 pada Container Vertikal */
     padding: 10px;
     margin-left: 5px;
     width: 500px;
     max-widtht: 500px; /* Ukuran maksimal tinggi untuk Box1 pada Container Vertikal */
     height: 250px;
     border-radius: 5px;
     overflow-y: auto; /* Tambahkan overflow-y jika kontennya lebih besar dari ukuran maksimal tinggi */
 }

 /* Styling tambahan jika diperlukan */
 .box1, .box2 {
     margin: 10px; /* Jarak antar box */
     padding: 20px;
 }
 .Praktikum {
     display: flex;
     justify-content: left;
     align-items: left;
     text-align: left;
     border-radius: 4px;
     background-color: #E0E3E7;
     max-width: auto;
     height: 80px;
     margin: 4px;
 }
.Praktikum p1 {
    margin: 2px; /* Menetapkan margin atas dan bawah pada elemen <p> menjadi 0 */
    font-size: 12px;
}
.Praktikum p2 {
    margin: 2px; /* Menetapkan margin atas dan bawah pada elemen <p> menjadi 0 */
    font-size: 12px;
}
.praktikum-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4px;
}
/* Menghilangkan titik pada elemen <li> */
ul, ol {
    list-style-type: none;
}

/* Menghilangkan titik pada elemen <ul> dengan kelas .praktikum-info */
.praktikum-info ul {
    list-style-type: none;
}

.praktikum-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 100% tinggi dari viewport, sesuaikan sesuai kebutuhan */
    font-size: 5px;
    background-color: black;
    margin-top: 10px;
}
.center-text {
    text-align: center;
}

 /* Media Query untuk tata letak responsif jika diperlukan */
 @media only screen and (max-width: 600px) {
     .container-horizontal, .container-vertikal {
         flex-direction: column; /* Tampilkan secara vertikal jika lebar layar kecil */
     }
 }